*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(..//img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#titulo{
    font-family: "Varela Round", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 0 #006bfb, 2px -2px 0 #006bfb, -2px 2px 0 #006bfb, -2px -2px 0 #006bfb, 2px 0px 0 #006bfb, 0px 2px 0 #006bfb, -2px 0px 0 #006bfb, 0px -2px 0 #006bfb, 2px 2px 0 #006bfb, 2px -2px 0 #006bfb, -2px 2px 0 #006bfb, -2px -2px 0 #006bfb, 2px 0px 0 #006bfb, 0px 2px 0 #000, -2px 0px 0 #006bfb, 0px -2px 0 #006bfb, 2px 2px 0 #006bfb, 2px -2px 0 #006bfb, -2px 2px 0 #006bfb, -2px -2px 0 #006bfb, 2px 0px 0 #006bfb, 0px 2px 0 #006bfb, -2px 0px 0 #006bfb, 0px -2px 0 #006bfb;
    /* padding-top: 80px; */
}

.subtitulo-1{
    font-size: 30px;
    color: #006bfb;
    text-align: right;
    margin-top: 60px;
    margin-right: 150px;
}

.plan{
    background-color: red;
    margin-bottom: 20px;
}

#plan-fuerza-img{
    width: 300px;
    margin-left: 200px;
    float: left;
}

.plan-1{
    width: 100%;
    height: 400px;
}

.plan-1 p{
    width: 95%;
    /* float: right; */
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;
    text-align: right;
    margin-top: 80px;
    margin-right: 40px;
}